<div class="main-container">
  <h2 mat-dialog-title>Enter Master Password</h2>

    <mat-dialog-content>
      <mat-form-field>
        <mat-label>Master Password</mat-label>
        <input matInput [(ngModel)]="data.masterPassword" type="password">
      </mat-form-field>
    </mat-dialog-content>
  <div class="button-container">
    <mat-dialog-actions>
      <button mat-button (click)="onNoClick()">Cancel</button>
      <button mat-button [mat-dialog-close]="data.masterPassword" cdkFocusInitial>OK</button>
    </mat-dialog-actions>
  </div>

</div>
