.main-container {
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  justify-content: center;
}

.button-container {
  width: 90%;
  display: flex;
  justify-content: center;
}

.button-container mat-dialog-actions {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 1.25rem;
}

.button-container mat-dialog-actions button {
  margin-top: 0.625rem !important;
}
