.active-link {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

mat-toolbar {
  padding: 1em;
  position: sticky;
  top: 0;
  z-index: 5;
  overflow: hidden;
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Align items to the start and end */
}

button {
  margin-right: 1em;
}

.align-right {
  margin-right: 0; /* Remove margin from the right of the right-aligned button */
}

.spacer {
  flex-grow: 1; /* Pushes the right-aligned button to the right */
}
