.active-link {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

mat-toolbar {
  padding: 1em;
  position: sticky;
  top: 0;
  z-index: 5;
  overflow:hidden;

}

button {
  margin-right: 1em;
}

button:last-child {
  margin-right: 0;
}
