.register-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .form-group {
    margin-bottom: 1vh;
  }
}
