<div class="main-container">

  <!-- Material Search Bar -->
  <input matInput [formControl]="searchTerm" placeholder="Search for a credential">

  <div class="buttons">
    <button class="content" color="primary" mat-raised-button routerLink="/create-credential" routerLinkActive="active-link">Add Password</button>
    <button class="content" color="primary" mat-raised-button routerLink="/import-password" routerLinkActive="active-link">Import Passwords</button>
    <button class="content" color="primary" mat-raised-button routerLink="/export-password" routerLinkActive="active-link">Export Passwords</button>
  </div>

  <div class="content">
    <app-credential-card *ngFor="let credential of filteredCredentials" [data]="credential"></app-credential-card>
  </div>

  <!-- <app-sidebar></app-sidebar> -->
</div>
