.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}

.content {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: center;
  margin-top: 1.25rem;
}

.content button {
  margin-top: 1rem;
}
