<mat-card *ngIf="data" class="credential-card"> <!-- Only display the card if data is not null -->
  <mat-card-header>
    <mat-card-title>User Details</mat-card-title>
  </mat-card-header>
  <mat-card-content class="credential-card-content">
    <p *ngIf="data?.nickname"><strong>Nickname:</strong> {{ data.nickname }}</p>
    <p *ngIf="data?.id"><strong>ID:</strong> {{ data.id }}</p>
    <p *ngIf="data?.owner_id"><strong>Owner ID:</strong> {{ data.owner_id }}</p>
    <p *ngIf="data?.username"><strong>Username:</strong> {{ data.username }}</p>
    <p *ngIf="data?.email"><strong>Email:</strong> {{ data.email }}</p>
    <p *ngIf="data?.url"><strong>URL:</strong> {{ data.url }}</p>
<!--    this should be blacked out until clicked-->
    <p *ngIf="data?.encrypted_password"><strong>Encrypted Password:</strong> {{ data.encrypted_password }}</p>
    <p *ngIf="data?.added_date"><strong>Added Date:</strong> {{ data.added_date | date:'medium' }}</p>
    <p *ngIf="data?.last_accessed_date"><strong>Last Accessed Date:</strong> {{ data.last_accessed_date | date:'medium' }}</p>

    <!-- Handle shared_users array -->
<!--    <div *ngIf="data?.shared_users && data?.shared_users.length">-->
<!--      <p><strong>Shared Users:</strong></p>-->
<!--      <ul>-->
<!--        <li *ngFor="let user of data?.shared_users">{{ user.someProperty }}</li>-->
<!--      </ul>-->
<!--    </div>-->
  </mat-card-content>
</mat-card>
