<div class="main-container">
  <div *ngIf="!isSubmittedSuccessfully && !isSubmitted" class="create-credential-container">
    <button class="back-button" mat-icon-button (click)="goBack()"><mat-icon>arrow_back</mat-icon></button>
    <h2>Create credential</h2>
    <form [formGroup]="credentialForm" (ngSubmit)="onSubmit()" class="create-credential-form" (keydown)="onEnterKey($event)">
      <mat-form-field class="form-group">
        <mat-label>Username</mat-label>
        <input matInput type="text" formControlName="username">
      </mat-form-field>
      <mat-form-field class="form-group">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email">
      </mat-form-field>
      <mat-form-field class="form-group">
        <mat-label>Nickname</mat-label>
        <input matInput type="text" formControlName="nickname">
      </mat-form-field>
      <mat-form-field class="form-group">
        <mat-label>URL</mat-label>
        <input matInput type="email" formControlName="url">
      </mat-form-field>
      <mat-form-field class="form-group">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
      </mat-form-field>
      <button mat-raised-button type="submit" [disabled]="!credentialForm.valid" color="primary">Submit</button>
    </form>
  </div>

  <div *ngIf="isSubmittedSuccessfully && isSubmitted" class="alert alert-success">
    Submitted successfully!
  </div>

  <div *ngIf="!isSubmittedSuccessfully && isSubmitted" class="alert alert-error">
    Something went wrong!
  </div>
</div>
