body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
}

.login-container {
  width: 100%;
  max-width: 400px;
  margin: 20px; /* A slight margin */
  background: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .toggle-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 16px;
  }
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px; /* Increased the gap slightly */

  button {
    align-self: flex-end;
  }
}

.alert {
  width: 100%;
  max-width: 400px;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  margin: 10px 0;
}

.alert-success {
  background-color: #e5ffe5;
  color: #2a8a2a;
}

.alert-error {
  background-color: #ffe5e5;
  color: #8a2a2a;
}
